[submodule "3rdparty/miniply"]
	path = 3rdparty/miniply
	url = git@github.com:vilya/miniply.git
[submodule "3rdparty/happly"]
	path = 3rdparty/happly
	url = https://github.com/nmwsharp/happly.git
[submodule "3rdparty/tinyply"]
	path = 3rdparty/tinyply
	url = https://github.com/ddiakopoulos/tinyply.git
[submodule "3rdparty/pieces"]
	path = 3rdparty/pieces
	url = git@github.com:vilya/pieces.git
[submodule "3rdparty/msh"]
	path = 3rdparty/msh
	url = https://github.com/mhalber/msh.git
